package main

import (
	_ "{{ .controller_name }}/models"
	agai "github.com/vrianta/agai/v1"
)


/*
For set the SQL Driver you need to imoort that driver like I did in line number 4 
and then mention the driver name in the config.web.json
*/

func main() {
	
	app := agai.New() // creating new application

	app.Start()
}
