package main

import (
	"{{ .app_name }}/controllers/home"
	"github.com/vrianta/agai/v1"
)

// Register Routes initializes the routes for the application.
func init() {
	agai.CreateRoute[home.Controller]("/")
	agai.CreateRoute[home.Controller]("/home")
}
